body {
    font-family: 'Source Sans Pro', sans-serif;
}
.container-fluid {
    padding: 0 !important;
}
.header {
    display: flex;
    background-color: #e3eeff;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px;
    position: relative;
}
.header a {
    color:#414542;
}
.header a:hover {
    text-decoration: none;
}
.header img {
    width: 50px;
    height: 25px;
}
.header ul {
    width: 50%;
    display: flex;
    list-style: none;
    
}
.header ul li {
    margin-left: 25px;
}
.header-buttons {
    position: absolute;
    right:0;
    margin-right:20px;
}
.header-buttons button {
    border:none;
    border: 1px solid #a7c6db;
    border-radius: 4px;
    background: #fff;
    padding: 10px;
}

.shop-body {
    display: flex;
    flex-wrap: wrap;
    
}
.shop-card {
    border:1px solid #a7c6db;
    min-height: 400px;
    max-height: auto;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    color:#414542;
    position: relative;
}
.shop-card img {
    width: 150px;
    height: 150px;
}
.shop-card a {
    color:#414542;
}
.shop-card a:hover {
    text-decoration: none;
}
.shop-card button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px;
    border:none;
    background-color: #a3ffba;
    padding: 10px;
    border-radius: 4px;
}
.shop-card button:hover {
    background-color: #70ff94;
}