{% load static %}

<html>

    <head>
        <title>Nike Shoes</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    

    <body>
        <div class="header">
            <h1><a href="/">Nike Shoes</a></h1>
        </div>

        <div class="shop-body">
            {% for post in posts %}
                <div class="shop-card">
                    <h3><a href="">{{ post.title }}</a></h3>
                    {% if post.image %}
                    <img src="{{ MEDIA_URL }}{{ post.image }}">
                    {% endif %}
                    <p>{{ post.description }}</p>
                    <p>Quantity: {{ post.quantity }}</p>
                    <span><strong>{{ post.price }}</strong> EUR</span>
                </div>
            {% endfor %}
        </div>
    </body>
</html> 