{% extends 'shop/base.html' %}
{% load static %}


{% block content %}
    <body>

        <!--HERO-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="shop-hero"></div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="shop-title">
                    <h1>SHOES</h1>
                    <p>Protect your feet while walking.</p>
                </div>
                <div class="shop-body">
                {% for post in posts %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        
                <div class="shop-card">
                    <h3><a href="">{{ post.title }}</a></h3>
                    {% if post.image %}
                    <img src="{{ post.image }}" alt="img">
                    {% endif %}
                    <p>{{ post.description }}</p>
                    <p>Quantity: {{ post.quantity }}</p>
                    <span><strong>{{ post.price }}</strong> EUR</span>
                    <button type="submit">Add to cart</button>
                </div>
                    </div>
                {% endfor %}
        </div>
            </div>
        </div>
{% endblock %}
        